{% extends 'layout.html.twig' %}

{% block content %}
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <h1>Pardot Crammer</h1>
        <p>Cramming as much into HipChat as we possibly can.</p>
        <p>
            <a href="/" class="btn btn-primary btn-lg" role="button">GitHub</a>&nbsp;
            <a href="#" class="btn btn-primary btn-lg" role="button">Jira</a>
        </p>
    </div>
{% endblock content %}